.product-info-box {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  overflow: auto;
  max-width: 100%;
}


.product-info-title {
  font-size: 1.9rem;
  font-weight: bold;
  color: #222;
}

.product-info-price {
  font-size: 1.7rem;
  font-weight: bold;
  color: #f80404;
  margin-top: 0.2rem;
}

.product-info-description {
  font-size: 1.4rem;
  color: #555;
  line-height: 1.5;
}

.product-info-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.product-sizes-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 8px;
}

.product-sizes-table th,
.product-sizes-table td {
  border: 1px solid #ddd;
  padding: 6px;
  text-align: center;
}

.product-sizes-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.product-sizes-table tr:nth-child(even) {
  background-color: #fafafa;
}

.product-sizes-table tr:hover {
  background-color: #f1f1f1;
}


@media (max-width: 768px) {
  .product-info-box {
    width: 100%;
    margin: 5px;

  }

  .product-info-title {
    font-size: 1.5rem;
  }

  .product-info-price {
    font-size: 1.4rem;
  }

  .product-info-description {
    font-size: 1.2rem;
  }

  .product-sizes-table {
    font-size: 0.9rem;
  }
}


@media (max-width: 540px) {
  .product-info-box {
    max-width: 100%;
    padding: 5x;
  }
}


@media (min-width: 768px) {
  .product-info-box {
    max-width: 100%;
    padding: 10px;
  }

}