.product-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f7f6f6;
 
  border-radius: 15px;
}

.product-info-main {
  flex: 1 1 50%;       /* Info nimmt ca. 50% Platz */
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.product-main-content {
  display: flex;
  gap: 10px;          /* Abstand zwischen Bild und Info */
  align-items: flex-start; /* damit die Tops ausgerichtet sind */
  flex-wrap: nowrap;    /* responsive */
 
}
 
 .product-right-column {
  flex: 1; 
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-buy-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: fit-content;
  min-width: 250px;
 
}


.product-buy-box select,
.product-buy-box input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.product-buy-box button {
  background-color: #0141f1;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.product-buy-box button:hover {
  background-color: #023ddf;
}

.product-divider {
  border: none;
  height: 1px;
  background: #e9e8e8; /* Farbe der Linie */
  margin: 5px 0;   /* Abstand oben/unten */
}

/* product_page.css */
.breadcrumb-container {
 
  font-size: 18px;
  display: flex;
  justify-content: flex-start; /* Standardmäßig links */
  width: 100%; /* Stellt sicher, dass der Container die gesamte Breite einnimmt */
  direction: ltr; /* Standardrichtung für LTR */
  padding: 10px;
}

html[dir="rtl"] .breadcrumb-container {
  justify-content: flex-start; /* Nach rechts ausrichten */
  text-align: right; /* Text rechts ausrichten */
  direction: rtl; /* Setzt die Schreibrichtung für RTL */
}

/* LTR-Sprachen (Französisch) nach links ausrichten */
html[dir="ltr"] .breadcrumb-container {
  justify-content: flex-start; /* Nach links ausrichten */
  text-align: left; /* Text links ausrichten */
  direction: ltr; /* Setzt die Schreibrichtung für LTR */
}

.breadcrumb {
  display: flex;
  gap: 5px;
  font-weight: 500;
  align-items: center; /* Falls du eine vertikale Ausrichtung wünschst */
}

.breadcrumb a {
  color: #0073e6;
  text-decoration: none;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.breadcrumb span {
  color: #333;
}


@media (max-width: 768px) {
  .product-main-content {
    flex-direction: column;
  }

  .product-page {
    flex-direction: column;
    padding: 0px 0px;
    max-width: 100%;
    margin: 5px;
  }
 
  .product-buy-box {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1025px) {
 


}

.product-buy-box button:disabled {
  background-color: #ccc; 
  cursor: not-allowed;   
  opacity: 0.6;      
}
 