.section-box {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-box h3 {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
}

/* 2x2 Grid for products*/
.section-product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.product-card {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.product-card img {
    width: 100%;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
}

.product-card p {
  font-size: 14px;
  font-weight: 500;
  margin: 5px 0;
  text-align: center;

  /* Multiline ellipsis */
  display: -webkit-box;          /* für Safari/Chrome */
  display: box;                  /* älterer Syntax */
  display: -moz-box;             /* alter Firefox */
  -webkit-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none; 
  color: inherit; 
  /* 2 lines clamp */
  -webkit-line-clamp: 2;         /* Webkit */
  line-clamp: 2;                 /* Standard */

  height: 2.8em; /* sorgt für gleiche Höhe bei 2 Zeilen */
  line-height: 1.4em;
}

.price-row {
  display: flex;
  gap: 5px;
  align-items: baseline;
  justify-content: center;
}

.new-price {
  font-weight: bold;
  color: black;
}

.old-price {
  text-decoration: line-through;
  color: gray;
  font-size: 0.9em;
}

.discount {
  color: red;
  font-weight: bold;
  font-size: 0.85em;
  margin-top: 2px;
}

.product-card:hover {
  transform: translateY(-3px);
  transition: 0.2s;
}

.product-card .product-category {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  color: red;
}

 

/* Preisbereich unsichtbar, aber Höhe behalten */
.category-section .price-row,
.category-section .new-price,
.category-section .old-price,
.category-section .discount {
  visibility: hidden;
}
