.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #0d1113;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.main-content {
  min-height: 100vh;
  display: block;
}

/* Speziell für iPad & Tablets (769px bis 1204px) */
@media screen and (min-width: 769px) and (max-width: 1204px) {
  .main-content {
    min-height: 200vh;
    padding-bottom: 100px;
    overflow-y: visible;
    display: block;
  }

  .profile-seller-container {
    height: auto;
    overflow: visible;
  }
}

/* Für große PC Monitore (über 1204px) */
@media screen and (min-width: 1205px) {
  .main-content {
    min-height: 80vh;
    /* Normaler PC braucht meist weniger Platz-Erzwingung */
  }
}