 .rtl .section-title {
     text-align: right;
     direction: rtl;
 }

 .msaved-container {
     width: 100%;
     max-width: 100%;
     min-height: auto;
     padding-top: 30px;
     box-sizing: border-box;
     margin: 0 auto;
 }

 .no-products {
     padding-bottom: 150px;
 }

 @media (max-width: 480px) {
     .msaved-container {
         width: 100%;
         padding: 8px;
         max-width: 100%;
         margin: 0;
     }
 }

 @media (min-width: 481px) and (max-width: 768px) {
     .msaved-container {
         padding: 12px;
         max-width: 100%;
     }

 }