 .rtl .section-title {
     text-align: right;
     direction: rtl;
 }

 .msaved-container {
     margin: 0 auto;
     padding: 40px 10px;
     background-color: #fff;
 }

 .no-products {
     padding-bottom: 150px;
 }

 .collection-header-saved {
     margin-bottom: 20px;
     display: flex;
     justify-content: space-between;
     align-items: baseline;
     gap: 15px;
     border-bottom: 1px solid var(--text-main);
     padding-bottom: 15px;
 }

 .collection-header-saved h1 {
     font-size: var(--font-h1);
     text-transform: uppercase;
     letter-spacing: var(--spacing-wide);
     font-weight: var(--weight-medium);
     margin: 0;
 }

 @media (max-width: 768px) {

     .collection-header-saved h1 {
         font-size: 0.7rem;
         letter-spacing: var(--spacing-wide);
         font-weight: var(--weight-bold);
         margin-bottom: 0px;
         padding-bottom: 0px;
         margin-top: 10px;
     }

     .msaved-container {
         width: 100%;
         padding: 8px;
         max-width: 100%;
         margin: 0;
     }

     .item-count-saved {
         font-size: 0.7rem;
         letter-spacing: var(--spacing-normal);
         color: var(--text-muted);
     }

     .no-products {
         padding-bottom: 150px;
         font-size: 0.9rem;
     }

     .collection-header-saved {
         margin-bottom: 10px;

     }

 }