@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Outfit", sans-serif;

  color: #333;
  box-sizing: border-box;
}

body {

  width: 100%;
  max-width: 80%;
  min-height: auto;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;

}

@media (max-width: 1025px) {
  body {
    padding: 10px;
    max-width: 100%;
  }
}